.gist-like
    .like-check
        position: relative
        input
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            opacity: 0
        .label
            display: flex
            align-items: center
            color: rgba(gray, 0.8)
            span
                font-weight: $bold
                font-size: $f-14
                margin-left: 0.5rem
            svg
                width: 14px
                height: 14px
                vertical-align: middle
            &.liked
                color: $error
.loader-wrapper
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 70vh

.lds-grid 
    display: inline-block
    position: relative
    width: 80px
    height: 80px

.lds-grid div 
    position: absolute
    width: 10px
    height: 10px
    border-radius: 50%
    background: #fff
    animation: lds-grid 1.2s linear infinite

.lds-grid div:nth-child(1) 
    top: 8px
    left: 8px
    animation-delay: 0s

.lds-grid div:nth-child(2) 
    top: 8px
    left: 32px
    animation-delay: -0.4s

.lds-grid div:nth-child(3) 
    top: 8px
    left: 56px
    animation-delay: -0.8s

.lds-grid div:nth-child(4) 
    top: 32px
    left: 8px
    animation-delay: -0.4s

.lds-grid div:nth-child(5) 
    top: 32px
    left: 32px
    animation-delay: -0.8s

.lds-grid div:nth-child(6) 
    top: 32px
    left: 56px
    animation-delay: -1.2s

.lds-grid div:nth-child(7) 
    top: 56px
    left: 8px
    animation-delay: -0.8s

.lds-grid div:nth-child(8) 
    top: 56px
    left: 32px
    animation-delay: -1.2s

.lds-grid div:nth-child(9) 
    top: 56px
    left: 56px
    animation-delay: -1.6s

.dark-loader-wrapper
.light-loader-wrapper
    .lds-grid div 
        background: $dark
.empty-state
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 100%
    height: 70vh
    svg
        width: 100px
        height: 100px
    p
        margin-top: 2rem
.paginate-wrapper
    display: flex
    align-items: center
    justify-content: center
.pagination
    display: flex
    align-items: center
    justify-content: center
    margin-top: 4rem
    padding: 1rem 0
    background: #fff
    width: 80%
    max-width: 400px
    border-radius: 4px
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
    
    
    .page
        border-radius: 4px
        padding: 0 0.25rem
        a
            display: block
            padding: 0.5rem 1.1rem
            color: #838CA2
            font-size: 1.2rem
            vertical-align: middle
            cursor: pointer
            svg
                width: 20px
                height: 20px
        &.active
            a
                background:  $dark
                color: #fff
        &:last-of-type, &:first-of-type
            a
                color: $dark
        &:not(last-of-type), &:not(first-of-type)
            a
                border-radius: 4px
        &.disabled
            a
                color: #C5C9DA

    

@keyframes lds-grid 
    0%, 100% 
        opacity: 1
    
    50% 
        opacity: 0.5
  
